# Example .env variable for openwebui, especially useful for VSCODE debugging locally

VECTOR_DB=pgvector_feddersen
RAG_TEXT_SPLITTER=token
CHUNK_SIZE=512
CHUNK_OVERLAP=100
# this is the actual docker-compose config, run it by `docker compose up postgres` before
DATABASE_URL=postgresql://youruser:yourpassword@localhost:5432/openwebui
PGVECTOR_INITIALIZE_MAX_VECTOR_LENGTH=1536 # must not be larger than 2000!

# AUTOMATIC1111_BASE_URL="http://localhost:7860"

# For production, you should only need one host as
# fastapi serves the svelte-kit built frontend and backend from the same host and port.
# To test with CORS locally, you can set something like
# CORS_ALLOW_ORIGIN='http://localhost:5173;http://localhost:8080'
CORS_ALLOW_ORIGIN='*'

# For production you should set this to match the proxy configuration (127.0.0.1)
FORWARDED_ALLOW_IPS='*'

# DO NOT TRACK
SCARF_NO_ANALYTICS=true
DO_NOT_TRACK=true
ANONYMIZED_TELEMETRY=false

# Auth
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_TENANT_ID=
MICROSOFT_CLIENT_SECRET=
